<div id="pipes-show">
  <h2>Pipe</h2>
  <div class="flex-container">
    <%= image_tag('1.jpg') %>
    <ul>
      <li>Type:</li>
      <li>Type:</li>
      <li>Type:</li>
      <li>Type:</li>
    </ul>
  </div>
  <%= link_to 'Buy now: 4$', '#', class: 'btn btn-success', target: '_blank' %>
</div>