<div class="col-md-4">
  <main role="main" class="container">
    <div class="starter-template">
      <h1><%= @page_title %></h1>
      <h3>Location info</h3>
      <ul>
        <li>Store</li>
        <li>Belarus, Minsk, Kalinovskaga 23</li>
        <li>Phone: +375 29 222 33 44</li>
        <li>Email: example@example.com</li>
      </ul>
    </div>
  </main>
</div>
